
__pycache__/
*.py[cod]
*.pyo

.vscode/
.idea/

.env

.pytest_cache/

metastore_db/
spark-warehouse/

airflow/logs/
airflow/airflow.db

storage/delta/

kafka/data/

storage/minio/

*.logdata/creditcard.csv
